@charset "UTF-8";
/* 各ページ共通の設定 */

/*==============*/
/* 全ページ共通部分 */
/*==============*/

#section-header {
	height: 120vw;
	background-image: url(../images/hed_bg.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	display: block;
	background-size: auto 100%;
}
@media (min-width: 576px) {
#section-header {
	height: 58vw;
}
}
@media (min-width: 768px) {
#section-header {
	height: 48vw;
	max-height: 700px;
}
}
@media (min-width: 992px) {
#section-header {
}
}
@media (min-width: 1200px) {
#section-header {
}
	
}
.hed-text{
	position: relative;
	top: 50%;
	-webkit-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}
#section-header h1 {
	font-weight: 900;
	font-size: 6vw;
	line-height: 120%;
	display: table;
	position: relative;
	padding-bottom: 0.3em;	
}
@media (min-width: 576px) {
#section-header h1 {
	font-size: 2em;
}
}
@media (min-width: 768px) {
#section-header h1 {
	font-size: 2.25em;
}
}
@media (min-width: 992px) {
#section-header h1 {
	font-size: 2.5em;
}
}
#section-header h1::after {
	content: '';
	position: absolute;
	bottom: 0%;
	right: 0%;
	width: 100vw;
	height: 1px;
	display: block;
	background-color: #FFFFFF;
}
#section-header h2 {
	font-size: 4.5vw;
}
@media (min-width: 576px) {
#section-header h2 {
	font-size: 1.1em;
}
}
@media (min-width: 768px) {
#section-header h2 {
	font-size: 1.2em;
}
}
@media (min-width: 992px) {
#section-header h2 {
	font-size: 1.25em;
}
}
#section-body {
}

@media (min-width: 576px) {
#section-body {
}
}
@media (min-width: 768px) {
#section-body {
	
	position: relative;
	z-index: 1;		
	top: -2vw;
}
}
@media (min-width: 992px) {
#section-body {
	top: -5vw;
}
}
@media (min-width: 1200px) {
#section-body {
	top: -100px;
}
}
@media (min-width: 1400px) {
#section-body {
	top: -150px;
}
}

/* 新着情報 */
.blog-archive{
	border-bottom: 1px solid #8F7C52;
	margin-bottom: 2em;
	padding-bottom: 1em;
}
.top-blog{
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
	border-bottom-width: 0px;	
}
.top-blog{
display: flex;
  flex-wrap: wrap;
	margin-right: -15px;
  margin-left: -15px;
}
.top-blog:hover {
	text-decoration: none;	
  }
.top-blog:hover .blog-text {
	text-decoration: underline;		
  }
.top-blog:hover .date-item {
	color: #FFFFFF;
  }
.blog-photo,.blog-text{
	  padding-right: 15px;
  padding-left: 15px;
	  flex: 0 0 100%;
  max-width: 100%;
	box-sizing: border-box;
}
@media (min-width: 768px) {
.blog-photo,.blog-text{
	  flex: 0 0 50%;
  max-width: 50%;
}
}
.blog-photo{
	display: flex;
  flex-wrap: wrap;
	margin-right: -5px;
  margin-left: -5px;
}
.blog-photo .blog-date{
	 padding-right: 5px;
  padding-left: 5px;
	  flex: 0 0 25%;
  max-width: 25%;
	
}
.blog-photo figure{
	 padding-right: 5px;
  padding-left: 5px;
	  flex: 0 0 75%;
  max-width: 75%;
	
}
.blog-text{
	
}
.blog-text h3{
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 0.3em;
	padding: 0;
	font-size: 1.33em;
	line-height: 140%;
}


.circle {
	max-width: 100%;/* 円のサイズ（高さにもなる） */
	border-radius: 100%;
	padding: 4px;
	/* 以下のFlexboxで文字を中央寄せ */
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	line-height: 160%;
	text-align: center;
	border: 1px solid #FFFFFF;
}
@media (min-width: 576px) {
.circle {
	line-height: 160%;
}
}
@media (min-width: 768px) {
.circle {
	line-height: 100%;
}
}
.circle::before {/* 擬似要素で正円を作る */
  display: block;
  content: '';
  padding-top: 100%;
}

.date-item{
	font-size: 4vw;
}
@media (min-width: 576px) {
.date-item{
	font-size: 1.8em;
}
}
@media (min-width: 768px) {
.date-item{
	font-size: 1em;
}
}
.date-item span{
	display: block;
	line-height: 100%;
	font-size: 1.33em;
}
.image-blog{
	
}
.image-blog figure{
	
}
.image-blog .image-text{
	
}
.image-blog .image-text .date{
	font-size: 0.888em;
}
.image-blog .image-text h3{
	font-size: 1em;
	line-height: 140%;
}
/*========*/
/* サイド */
/*========*/
.search{
	margin-bottom: 2em;
	height: 40px;
}
#form{
 position:relative;
}
#s-box{
	height: 40px;
	padding: 0 10px;
	position: absolute;
	left: 0;
	top: 0;
	border-radius: 0px;
	border: none;
	outline: 0;
	width: 100%;	
}
#s-btn-area{
	height: 28px;
	position: absolute;
	top: 6px;
	background-image: none;
	border: none;
	font-size: 20px;
	outline: 0;
	right: 6px;
	width: 28px;
	background-color: transparent;	
	
}
#s-btn-area i{
	font-size: 1.4em;
	position: relative;
	right: 0.2em;
	color: #754C24;	
}
#s-btn{
	
	
}
.profile{
	font-size: .777em;
	line-height: 160%;
	margin-bottom: 2em;	
}
.profile figure{
	margin-top: 0;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 1rem;
	width: 120px;
	border-radius: 50%;
	height: 120px;
	overflow: hidden;
	display: block;	
}

@media (min-width: 768px) {
.profile figure{
	width: 164px;
	height: 164px;
}
}
.profile figure img{
	width: 100%;
	height: auto;	
}
aside{
	border-bottom: 1px solid #fff;
	margin-bottom: 1.5em;	
}
aside h3{
	font-size: 1.375em;
	border-bottom: 1px solid #8F7C52;
}
aside h3 i{
	margin-right: 0.5em;	
}
aside ul{
	padding: 0;
	margin-top: 0em;
	margin-right: 1em;
	margin-left: 1em;
	margin-bottom: 0.8em;
	list-style-type: none;
}
aside ul ul{
	margin-right: 0em;
	margin-left: 1em;
}
aside ul li{
	
}
.tag span{
	display: inline-block;
	margin-right: 1em;
}
.tag{
	margin-top: 1em;
	margin-right: 1em;
	margin-left: 1em;
	margin-bottom: 1em;
	font-size: 0.777em;
	line-height: 140%;	
}
.side-archive{
	border-bottom: 1px solid #fff;
	margin-bottom: 0.5em;	
	padding-top: 0.5em;	
}
.side-archive:last-child{
	border-bottom: none;
	margin-bottom: 0em;	
}
.side-blog{
	display: flex;
  flex-wrap: wrap;
	margin-right: -5px;
  margin-left: -5px;
	
}
.side-photo figure {
	
}
.side-photo{
	 padding-right: 5px;
  padding-left: 5px;
	  flex: 0 0 20%;
  max-width: 20%;
}

.side-text{
	 padding-right: 5px;
  padding-left: 5px;
	  flex: 0 0 80%;
  max-width: 80%;
}
@media (min-width: 576px) {

}
@media (min-width: 768px) {
.side-photo{
	  flex: 0 0 30%;
  max-width: 30%;
}

.side-text{
	  flex: 0 0 70%;
  max-width: 70%;
}
}
@media (min-width: 992px) {
.side-photo{
	  flex: 0 0 40%;
  max-width: 40%;
}

.side-text{
	  flex: 0 0 60%;
  max-width: 60%;
}
}
.side-text .date{
	font-size: 0.8888em;	
}
.side-text h4{
	font-size: 1em;	
}

.wp-calendar-table{
	padding: 0.5em;
	width: 100%;
	
	
}
.wp-calendar-table caption{
	padding-top: 0rem;
	padding-bottom: 0rem;
	color: #fff;
	text-align: center;
	caption-side: top;
	
}
.wp-calendar-table th,.wp-calendar-table td{
	border: 1px solid #FFFFFF;
	text-align: center;	
	
}
.wp-calendar-table thead th{
	background-color: #595757;	
}
.wp-calendar-table tbody td{
	
}
.wp-calendar-table tbody td a{
	text-decoration: underline;
	color: #BFBFBF;	
}
.wp-calendar-table tbody td a:hover{
	color: #FFEE00;
}
.wp-calendar-table tbody td#today{
	background-color: #E5E5E5;
	color: #595757;
}
.wp-calendar-nav{
	font-size: 0.777em;
}
.widget_calendar{
	margin-bottom: 1.5em;	
}
.rss{

	text-align: center;
}
.rss a{
	font-size: 1.2em;
	
}
.rss a:hover{
	text-decoration: none;	
	
}
.rss a i{
	margin-right: 0.5em;
}

/*==============*/
/* ニュース */
/*==============*/

.post {
	padding-bottom: 20px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
}
.post .posthed {
	font-size: 86%;
	padding-bottom: 10px;
	display: block;
	position: relative;
}
.post .posthed em {
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	font-style: normal;
	color: #FFFFFF;
	position: absolute;
	top: 0px;
	right: 0px;
	font-size: 100%;
	background-color: #666666;
}
.post .posthed h2,.archiveshed h2 {
	font-size: 1.85em;
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 2px solid #8F7C52;	
}

.post img {
	height: auto;
	max-width: 100%;
}
.post h3:first-letter {
}
.sidenav {
	margin-bottom: 30px;	
}
.sidenav h3 {
	font-size: 100%;
	color: #FFFFFF;
	margin-bottom: 10px;
	background-color: #C1976D;
	padding: 0.5em;
	border-radius: 5px;        /* CSS3草案 */
	-webkit-border-radius: 5px;    /* Safari,Google Chrome用 */
	-moz-border-radius: 5px;   /* Firefox用 */
}
.sidenav ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
.sidenav ul li {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #b2b2b2;
	padding-top: 10px;
	padding-bottom: 10px;
}
.sidenav ul li a {
}
.postnav {
	margin-bottom: 50px;
}

#comment_area {background:rgba(255,255,255,0.5);padding:25px;border-radius: 12px;margin-top:1em;line-height:1.4em;}
/*Comment List*/
#comment_area h3#comments {font-size:130%; margin:0 0 0.7em;}
#comment_area ol {list-style:none;}
#comment_area ol li {overflow: hidden;}
#comment_area ol li.depth-1{border:1px dotted #fff; margin-bottom:1em; padding:12px;}
#comment_area ol li ul.children {margin-left: 10%;} /*children 返信部分*/
#comment_area ol li ul.children li {border-top:1px dotted #fff; margin-top:1em; padding-top:12px;}
img.avatar {margin-right:8px;float:left;}
span.says{display:none;}
cite.fn {font-size:90%;}
div.comment-meta {font-size:80%;}
div.comment-meta:after {content:''; display:block; height:0; clear:both; visibility:hidden;}
.comment-body p {
	font-size: 90%;
	color: #333333;
	background: #fff;
	border-radius: 12px;
	padding: 0.5em 1em;
	margin: 0.8em 0 0.5em;
}
div.reply { margin-bottom:0.2em}/*返信button*/
div.reply:after {content:''; display:block; height:0; clear:both; visibility:hidden;}
div.reply a {
	font-size: 80%;
	line-height: 1em;
	display: block;
	float: right;
	background-color: #666666;
	padding: 0.3em 1em;
	border-radius: 8px;
}
div.reply a:hover {background:#fff; text-decoration:none;}
/*Comment Form*/
#respond {
	background: rgba(255,255,255,0.4);
	padding: 1em;
	border-radius: 9px;
	color: #333333;
}
#comment_area a {
	color: #333333;
}
#comment_area a:hover {
	color: #000EEC;
}
#respond h3#reply-title {
	font-size: 130%;
	margin: 0 0 0.7em;
	color: #333333;
}
#respond h3#reply-title small a {font-size:70%; margin-left:1em; text-decoration:underline;}/*コメントをキャンセルの文字*/
#respond p { margin-bottom:0.5em;}
#respond p.commentNotesBefore, #respond p.commentNotesAfter {font-size:80%;}
#respond p.form-submit {margin-bottom:0;}
/*form element*/
.form-submit .input#author, .form-submit input#email, .form-submit textarea#comment {
	width: 95%;
	border: none;
	border-radius: 12px;
	margin-top: 0;
	font-size: 14px;
	padding: 7px 12px;
	color: #333333;
}
.form-submit textarea#comment {line-height:1.6em;}
.form-submit input#submit {
	cursor: pointer;
	font-size: 110%;
	padding: 5px 1em;
	margin-right: auto;
	margin-left: auto;
	border-style: none;
	color: #fff;
	background-color: #666666;
	border-radius: 18px;
}
.form-submit input#submit:hover {background:#2d1497;}

/*==============*/
/* その他アイテム */
/*==============*/
/* 新着情報 */
.tag-news {
	margin-top: 0em;
	padding: 0em;
}
.tag-news h3 {
	font-size: 1.2em;
	border-bottom: 1px solid #8F7C52;
}
.tag-news dl {
	padding-top: 0em;
	padding-right: 1em;
	padding-left: 1em;
	padding-bottom: 0.5em;
	border-bottom: 1px dotted #cfcfcf;
	width: 100%;
}
.tag-news dt {
	padding-bottom: 0;
	font-weight: normal;
}
.tag-news em {
	color: #FF0000;
	font-style: normal;
	font-weight: normal;
}
@media screen and (min-width: 992px) {
.tag-news dl {
	display: table;
}
.tag-news dt {
	padding-bottom: 0;
	width: 8em;
	font-weight: normal;
	display: table-cell;
}
.tag-news dd {
	margin-left: 0.5em;
	display: table-cell;
}
}
