@charset "UTF-8";

:root {
/* フォントサイズ設定 */
  --option-pc-text: 16px;
  --option-sp-text: 14px;
/* color設定 */
  --option-body-color: #000;
  --option-text-color: #fff;
--option-link-color: #fff;
  --option-hover-color: #FFEE00;
}
body {
	font-size: var(--option-sp-text);
	font-family: 'Mulish','Noto Sans JP', sans-serif;
	color: var(--option-text-color);
	background-color: var(--option-body-color);
}
@media (min-width: 992px) {
body {
    font-size: var(--option-pc-text);
  }
}
a {
  color: var(--option-link-color);
}
a:hover {
	color: var(--option-hover-color);
}
.drawer-menu > ul {
  justify-content: flex-end;
	/* 場所移動できるように */
}

header {
	position: absolute;
	width: 100%;
	z-index: 2;
}
/* headerの追従 */
header.header-fixed{
	position: fixed;
	z-index: 199;/*最前面へ*/
	animation: DownAnime 0.5s forwards;
	background-color: rgba(0,0,0,0.7);
	width: 100%;	
}

@keyframes DownAnime{
  from {
    opacity: 0;
  transform: translateY(-170px);
  }
  to {
    opacity: 1;
  transform: translateY(0);
  }
}
footer {
	background-color: #808080;	
}